<a href="https://colab.research.google.com/github/stsushimaHTB/test/blob/master/bansen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
with open("/content/drive/My Drive/edps20190301.csv", "r") as file:
  EDPS = file.readlines()

In [0]:
EDPS[0]

'Frame_ID,Program_Start_jst,Program_End_jst,Program_Name,EPG_Start_jst,Station_Name,Video_Source,Source_Start_jst,Source_End_jst,Length,CM_Frame_Length,remarks,CM_TK_flag,Sponsor,Source_Name,Code10,Code08,Master_Cut\n'

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
edps_data  = pd.read_csv('/content/drive/My Drive/edps20190301.csv') #データフレームに変換

In [0]:
edps_data

In [0]:
print(edps_data[edps_data['Source_Name'] == "【当日】イチオシ！１部"])

In [0]:
df = edps_data.dropna(subset=['Source_Name']) #Source_Nameが空白N/Aの行を削除

In [0]:
df

In [0]:
df2 = df[df['Source_Name'].str.contains('【当日】')] #が含まれている行を抽出

In [0]:
df3 = df2[['Source_Name','Source_Start_jst', 'Source_End_jst']] #必要な列だけ抜き出し

In [50]:
df3["start_time"] = pd.to_datetime(df3["Source_Start_jst"]) #時系列データに変換
df3["end_time"] = pd.to_datetime(df3["Source_End_jst"])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [62]:
df3.iat[0,3]

Timestamp('2019-03-01 06:25:14')

In [51]:
df3

     Source_Name     Source_Start_jst  ...          start_time            end_time
78   【当日】イチオシ！３部  2019-03-01 06:25:14  ... 2019-03-01 06:25:14 2019-03-01 06:25:29
159  【当日】イチオシ！１部  2019-03-01 07:57:43  ... 2019-03-01 07:57:43 2019-03-01 07:57:58
234  【当日】イチオシ！１部  2019-03-01 09:52:40  ... 2019-03-01 09:52:40 2019-03-01 09:52:55
531  【当日】イチオシ！１部  2019-03-01 15:46:01  ... 2019-03-01 15:46:01 2019-03-01 15:46:16
666  【当日】イチオシ！３部  2019-03-01 17:36:00  ... 2019-03-01 17:36:00 2019-03-01 17:36:15

[5 rows x 5 columns]

In [0]:
vdf  = pd.read_csv('/content/drive/My Drive/20190301.csv')

In [7]:
vdf.dtypes

unique_id       object
time_in_jst     object
time_out_jst    object
tv_id           object
post_code       object
dtype: object

In [0]:
vdf1 = vdf["unique_id"].str.split("_", expand=True)[0]
vdf2 = vdf["unique_id"].str.split("_", expand=True)[1]
vdf3 = vdf["time_in_jst"]
vdf4 = vdf["time_out_jst"]
dvdf = pd.concat([vdf1, vdf2, vdf3, vdf4], axis=1) #結合

In [0]:
dvdf = dvdf.rename(columns={0: 'tv_id',1: 'post_code'}) #名称変更

In [38]:
dvdf.dtypes

tv_id           object
post_code       object
time_in_jst     object
time_out_jst    object
dtype: object

In [0]:
dvdf["time_in"] = pd.to_datetime(dvdf["time_in_jst"])
dvdf["time_out"] = pd.to_datetime(dvdf["time_out_jst"])

In [43]:
dvdf.dtypes

tv_id                   object
post_code               object
time_in_jst             object
time_out_jst            object
time_in         datetime64[ns]
time_out        datetime64[ns]
dtype: object

In [58]:
dvdf[1:6]

          tv_id post_code  ...             time_in            time_out
1  00068cb9d6bf   0600005  ... 2019-03-01 04:00:00 2019-03-01 04:00:01
2  000690da19f1   0010924  ... 2019-03-01 04:00:00 2019-03-01 04:00:01
3  00082c522c58   0010028  ... 2019-03-01 04:00:01 2019-03-01 04:00:06
4  0007860c14aa   0760046  ... 2019-03-01 04:00:01 2019-03-01 04:00:01
5  000775D13E4A   0600906  ... 2019-03-01 04:00:01 2019-03-01 04:00:01

[5 rows x 6 columns]

In [60]:
print (dvdf.iat[3,4],dvdf.iat[3,5]) #視聴データ

2019-03-01 04:00:01 2019-03-01 04:00:06

In [63]:
print (df3.iat[0,3], df3.iat[0,4]) #番宣（EDPS）#0,4：イチオシ３部　1,2,3：イチオシ１部

2019-03-01 06:25:14 2019-03-01 06:25:29

In [65]:
if dvdf.iat[3,4]>df3.iat[0,3]:
  print("データ大なり")
elif dvdf.iat[3,4]==df3.iat[0,3]:
  print("イコール")
else:
  print("EDPS大なり")

EDPS大なり

In [0]:
start = df3.iat[0,3] #番宣はじまる時間
end = df3.iat[0,4] #番宣終わる時間

saw = []

for index, row in dvdf.iterrows(): #一行ずつ、インデックス名（行名）とその行データのタプルを取得
  #print(row["time_in"],row["time_out"])
  if row["time_in"]<start and end<row["time_out"]:
    print("見てた！")
    saw.append(row["tv_id"])
  elif row["time_in"]<start and start<row["time_out"] and row["time_out"]<end:
    print("見てた！！")
    saw.append(row["tv_id"])
  elif start<row["time_in"] and row["time_out"]<end:
    print("見てた！！！")
    saw.append(row["tv_id"])
  elif start<row["time_in"] and row["time_in"]<end and end<row["time_out"]:
    print("見てた！！！！")
    saw.append(row["tv_id"])
  else:
    continue

In [73]:
print(len(saw))

17499